<app-navbar></app-navbar>
<!-- https://speckyboy.com/css-responsive-pricing-table/ -->
<div>
<!-- Contenedor -->
<div class="pricing-wrapper clearfix">
    <!-- Titulo -->
    <h1 class="pricing-table-title" style = "text-align: center;"><a href="/addplan">Select a Plan</a></h1>

    <div class="pricing-table">
      <h3 class="pricing-title">Basic</h3>
      <div class="price">$20<sup>/ month</sup></div>
      <!-- Lista de Caracteristicas / Propiedades -->
      <ul class="table-list">
        <li>1 Device <span>included</span></li>
        <li>3 GB <span>data</span></li>
        <li>UNLIMITED <span>calls</span></li>
        <li>UNLIMITED <span>texts</span></li>
      </ul>
      <!-- Contratar / Comprar -->
      <div class="table-buy">
        <p>$20<sup>/ month</sup></p>
        <a href="/addplan" (click) = "addBasic()" class="pricing-action">Add</a>
      </div>
    </div>

    
    
    <div class="pricing-table recommended">
      <h3 class="pricing-title">Premium</h3>
      <div class="price">$30<sup>/ month</sup></div>
      <!-- Lista de Caracteristicas / Propiedades -->
      <ul class="table-list">
        <li>2 Device <span>included</span></li>
        <li>5 GB <span>data / device</span></li>
        <li>UNLIMITED <span>calls</span></li>
        <li>UNLIMITED <span>texts</span></li>
      </ul>
      <!-- Contratar / Comprar -->
      <div class="table-buy">
        <p>$30<sup>/ month</sup></p>
        <a href="/addplan" (click) = "addPremium()" class="pricing-action">Add</a>
      </div>
    </div>

    <div class="pricing-table">
      <h3 class="pricing-title">Ultimate</h3>
      <div class="price">$40<sup>/ month</sup></div>
      <!-- Lista de Caracteristicas / Propiedades -->
      <ul class="table-list">
        <li>4 Device <span>included</span></li>
        <li>10 GB <span>data / device</span></li>
        <li>UNLIMITED <span>calls</span></li>
        <li>UNLIMITED <span>texts</span></li>
      </ul>
      <!-- Contratar / Comprar -->
      <div class="table-buy">
        <p>$40<sup>/ month</sup></p>
        <a href="/addplan" (click) = "addUltimate()" class="pricing-action">Add</a>
      </div>
    </div>
  </div>
</div>

