<div style = "text-align: center;"><h1>Welcome {{user}}!</h1></div>
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <button type="button" class="btn btn-primary" (click)="getUsers()">FindUsers</button>
    </div>

    <div class="container">
         <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Userplan</th>
                    <th>Price</th>
                    <th>Devices</th>
                    <th>Is the plan Full?</th>
        
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.userPlans[0].plan.max_devices}} devices</td>
                    <td>${{user.userPlans[0].plan.price}}</td>
                    <td>{{user.userPlans[0].devices[0].device_name}}, {{user.userPlans[0].devices[1].device_name}}, {{user.userPlans[0].devices[2].device_name}} </td>
                    <td>{{user.userPlans[0].planFull}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>

</html>