<div class="container mt-5 col-auto" style='padding:1%;border:solid; background-color: rgb(255, 255, 255)'> 

    <h2 style="text-align:center;">Edit device</h2>

    <div class="d-flex justify-content-center">
    
        <input type="text"  placeholder="Phone Name" id='pName' size="30" style="width:300px; margin:0.3%;"
        class="border border-dark">
        <input type="text" placeholder="Phone Number" id='pNum' size="30" style="width:300px; margin:0.3%;"
        class="border border-dark">
        <button id='addButton' class="btn btn-primary border border-dark" style="width:80; margin:0.3%;"
        (click) = "doSubmit()">Submit</button>
    
    
    </div>

</div>
