th[scope=col] {
    position: sticky;
    top: 0;
    z-index: 2;
    background: linear-gradient(90deg, transparent 0%, transparent calc(100% - .05em), #d6d6d6 calc(100% - .05em), #d6d6d6 100%);
    background-color:rgb(255, 255, 255)
}  