<app-navbar></app-navbar>
<div class="container mt-5 col-auto" style='padding:1%;border:solid; background-color: rgb(255, 255, 255)'>
    <h2 style = "text-align:center;">Welcome, {{currentUsername}}!</h2>
    <hr>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta laudantium temporibus in fuga similique mollitia architecto amet minus voluptas. Eos amet minima deserunt natus quisquam. Quisquam, harum? Porro, deleniti sequi? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum eveniet debitis at labore ullam assumenda, itaque aut inventore eius minus dignissimos obcaecati, vel ratione illo magnam fugiat maiores sed accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nostrum soluta pariatur nisi officiis fuga corrupti laborum animi, maxime sed dicta dignissimos numquam quod. Rem ab ratione nulla expedita maxime!
    <hr>

    <h3 style = "text-align:center;">Your total monthly payment: ${{cost}}</h3>
</div>
