<app-navbar></app-navbar>
<div class="container mt-5 col-auto" style='padding:1%;border:solid; background-color: rgb(255, 255, 255)'>
    <h2 style = "text-align:center;">{{currentUsername}}'s Plans</h2>





<table id="customers">
    <thead >
        <tr>
            <th>Userplan</th>
            <th>Plan Price</th>
            <th>Devices</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let userP of currentUser.userPlans">
            <td>{{userP.plan.max_devices}}-device Plan</td>
            <td>${{userP.plan.price}}</td>
            <td>
                <tr *ngFor="let device of userP.devices">
                    <td>Device Name: {{device.device_name}}</td>
                    <td>Phone Number: {{device.phone_number}}</td>
                </tr>
            </td>
        </tr>
    </tbody>
  
</table>


</div>