<app-navbar></app-navbar>
<div class="container mt-5 col-auto" style='padding:1%;border:solid; background-color: rgb(255, 255, 255)'>
    <h2 style = "text-align:center;">{{currentUsername}}'s Plans</h2>

<table id="customers">
    <thead >
        <tr>
            <th>Userplan</th>
            <th>Plan Price</th>
            <th>Devices</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let userP of currentUser.userPlans">
            <td>{{userP.plan.max_devices}}-device Plan</td>
            <td>${{userP.plan.price}}</td>
            <td >
                <select *ngIf = "userP.devices.length == 0 "class="form-select" aria-label="Default select example" disabled>

                    </select>
                <select id = "deviceSelector{{userP.id}}" name = "deviceSelector" *ngIf = "userP.devices.length != 0" class="form-select" aria-label="Default select example">
                    <option selected >Devices</option>
                    <ng-container *ngFor = "let device of userP.devices">
                        <option value="{{device.id}}">{{device.device_name}}</option>
                    </ng-container>
                    
                  </select>
            </td>
            
            <td  style = "text-align: center;"><button type="button" class="btn btn-warning" id = "dd{{userP.id}}" (click) = "doDeleteDevice(getDeviceSelectorValueByUpId(userP.id))" >Delete device</button></td>
            
            <td  style = "text-align: center;">
                <button type="button" class="btn btn-success" id = "a{{userP.id}}" *ngIf = "userP.plan.max_devices > userP.devices.length" (click) = "showNewDevice = !showNewDevice; this.up = userP">Add device</button>
                <button type="button" class="btn btn-warning" id = "f{{userP.id}}" *ngIf = "userP.plan.max_devices <= userP.devices.length" >Plan full!</button>
            </td>
            <td  style = "text-align: center;"><button type="button" class="btn btn-danger" id = "d{{userP.id}}" (click) = "doDelete(userP.id)">Remove Plan</button></td>
                
        </tr>
    </tbody>
  
</table>


</div>
<div *ngIf ="showNewDevice" class="container mt-5 col-auto" style='padding:1%;border:solid; background-color: rgb(255, 255, 255)'>
<app-newdeviceform [up]="up" ></app-newdeviceform>
</div>