<h2 style="text-align:center;">Add a new device</h2>

<div class="d-flex justify-content-center">

    <input #f1 = "ngModel" name = "f1" required type="text" [(ngModel)] = "name" placeholder="Phone Name" id='pName' size="30" style="width:300px; margin:0.3%;"
    class="border border-dark">
    <input #f2 = "ngModel" name = "f2" minlength = "10" maxlength="10" required  type="text" [(ngModel)] = "phoneNumber" placeholder="Phone Number" id='pNum' size="30" style="width:300px; margin:0.3%;"
    class="border border-dark">
    <button disabled *ngIf = "f1.errors?.required || f2.errors?.minlength || f2.errors?.required "id='addButton' class="btn btn-success border border-dark" style="width:80; margin:0.3%;"
        (click)="addNewDevice(this.name, this.phoneNumber)">Add</button>
    <button *ngIf = "!f1.errors?.required && !f2.errors?.required && !f2.errors?.minlength" id='addButton' class="btn btn-success border border-dark" style="width:80; margin:0.3%;"
        (click)="addNewDevice(this.name, this.phoneNumber)">Add</button>



</div>

<div *ngIf="f1.invalid && (f1.dirty || f1.touched)" class="alert alert-danger mx-auto" style = " padding:0.2%; width:52%">
    <div *ngIf="f1.errors?.required" style="text-align: center;" >
        Name required.
    </div>
    </div>
    <div *ngIf="f2.invalid && (f2.dirty || f2.touched)" class="alert alert-danger mx-auto" style = "padding:0.2%;width:52%;">
        <div *ngIf="f2.errors?.minlength || f2.errors?.required" style="text-align: center;" >
            Number must be 10 digits.
        </div>
        </div>