
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div *ngIf="showLogin">
  <div class="sidenav">
    <div class="login-main-text">
       <h2>Application<br> Login Page</h2>
       <p>Login or register from here to access.</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
      <div class="login-form">
        <p>Login</p>
         <form>
            <div class="form-group">
               <label>User Name</label>
               <input type="text" class="form-control" placeholder="User Name" [(ngModel)]="username" name= "username" id="email">
            </div>
            <div class="form-group">
               <label>Password</label>
               <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name=  "password" id="password">
            </div>
            <button type="submit" class="btn btn-black border border-dark" (click) = "doLogin()">Login</button>
            <button type="button" style = "margin-left:10px;" class="btn btn-secondary border border-dark"(click) = "doRegister()">Register</button>
         </form>
      </div>
   </div>
</div>
</div>


<app-register *ngIf ="showRegister"></app-register>