<div style = "margin-top:15%; margin-left:38%">
			<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
			<div class="container bootstrap snippets bootdey">
				<div class="lc-block col-md-4 col-md-offset-4 toggled" id="l-login">
					<div class="lcb-float"><i class="fa fa-users"></i></div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Username" [(ngModel)] = "username">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Password" [(ngModel)] = "password">
					</div>
					<div class="clearfix"></div>
					<a class="btn btn-block btn-primary btn-float m-t-25" (click) = "doLogin()">Sign In</a>
					<a class="btn btn-block btn-success btn-float m-t-25" style="margin-top:20%; width:100%" (click) = "doRegister()">Register</a>
					
				</div>
	</div>



